<ul id="support_source_tabs" class="nav nav-tabs" role="tablist">
    <%= render partial: 'support_source_tab', collection: support_sources %>
    <li role="presentation"><%= link_to '+', new_support_source_path %></li>
</ul>

<div class="tab-content">
    <%= render partial: 'support_source', collection: support_sources, as: 'support_source' %>
</div>