<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Type</th>
          <th style="width: 100%">Name</th>
          <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
        <% support_sources.each do |support_source| %>
            <tr>
                <td><%= support_source.type_name %></td>
                <td><%= support_source.name %></td>
                <td><%= link_to 'Edit', edit_support_source_path(support_source) %></td>
                <td><%= link_to 'Destroy', support_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
