<% @title = "Support sources" %>
<%= link_to '&laquo; Back to dashboard'.html_safe, root_path %>
<h1>Support sources</h1>

<% if @support_sources.empty? %>
    <p>You can't use Support Central until you have registered at least one support source. Please click the button to get started.</p>
<% else %>
    <%= render partial: 'listing', locals: { support_sources: @support_sources } %>
    <br>
<% end %>

<p>
    <%= link_to 'New support source', new_support_source_path, class: 'btn btn-primary' %>
</p>
