production:
  email_from: foo@bar.com
  root_url: http://www.yourhost.com

  # The Github API token is used for performing actions on Github.
  # Generate one at https://github.com/settings/tokens
  github_api_token: ...

  # The webhook secret will be used by the Github webhook inside
  # Support Central. If you are just getting started, put any
  # random token here that's longer than 8 character. Inside the
  # Support Central web interface you will be instructed how to
  # setup a webhook in Github and what to do with the secret
  # you picked.
  github_webhook_secret: ...

test:
  email_from: foo@bar.com
  root_url: http://www.yourhost.com

  github_api_token: ...
  github_webhook_secret: ...

development:
  email_from: foo@bar.com
  root_url: http://www.yourhost.com

  github_api_token: ...
  github_webhook_secret: ...

