html,
body {
    background-color: #f0f0f0;
}

header {
    position: relative;
    margin: 28px auto;
    padding-left: 16px;
}

footer {
    margin: 28px auto;
    padding-left: 16px;
    text-align: center;
    color: #999;
}

.account-actions {
    position: absolute;
    right: 16px;
    text-align: right;
}

.container {
    background-color: white;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px;
    border-radius: 16px;
}

@media (min-width: 768px) {
    header {
        width: 750px;
        padding-left: 0;
        text-align: center;
    }

    .account-actions {
        right: 0;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 28px;
    }
}

@media (min-width: 992px) {
    header { width: 970px; }
}

@media (min-width: 1200px) {
    header { width: 1170px; }
}

.container > h1:first-child,
.container > h2:first-child,
.first-page-header {
    margin-top: 0;
}

.intro-text {
    font-size: 18px;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.intro-text-with-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.field_with_errors {
  color: #cc0000;
  display: inline;
}
