// Place all the styles related to the SupportSources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.support-source-tab .badge {
    font-size: 10px;
}

.support-source-announcement {
    margin: 1em;
    text-align: center;
}

.support-source-footer {
    margin-top: 2em;
    text-align: center;
    font-size: 14px;

    a {
        color: #C1DED8;
    }
}