// Place all the styles related to the SupportSources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket {
    position: relative;
    border-top: solid 1px #eee;

    &:first-child {
        border-top: none;
    }
}

.ticket-checkbox {
    display: inline-block;
    position: absolute;
    width: 25px;
    left: 8px;
}

.ticket-link {
    display: block;
    padding: 0.75em 35px;
    color: black;
    text-decoration: none;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    > .title {
        display: block;
        font-weight: bold;
        font-size: 110%;
    }

    > .meta {
        display: block;
        color: #999;
    }

    > .arrow {
        position: absolute;
        top: 1.5em;
        right: 15px;
    }
}
